// PHOTO BLOCK
.photo-block {
  height: 540px;
  background-image: url(img/banner_1.png);
  background-size: cover;
  background-position-y: 25%;
  &--2 {
    @extend .photo-block;
    padding: 0;
    background-image: url(img/banner_2.jpg);
  }
  &--3 {
    @extend .photo-block;
    padding: 0;
    background-image: url(img/banner_3.jpg);
  }
}
