// CALL TO ACTION
.call-to-action {
  padding: 4rem 2%;
  color: $darkBlue;
  text-align: center;
  h2 {
    font: 3.6rem $mainFontBlack;
  }
  p {
    font: 1.6rem $mainFontMedium;
  }
  a {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 6px;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    width: 220px;
    background-color: $red;
    color: white;
  }
}
