// ADVANTAGES
.advantages {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -1px;
  padding: 10rem 9rem;
  background-image: url(img/heart.png);
  background-repeat: no-repeat;
  background-size: 47%;
  background-position: 115% 152%;
  background-color: $blue;
  color: white;
  &__summary {
    padding-left: 19rem;
    h2 {
      margin-top: 6rem;
      margin-bottom: 8rem;
      font: 8rem $mavenBlack;
    }
    a {
      display: block;
      border: 2px solid white;
      border-radius: 6px;
      padding: 1.7rem 3.5rem;
      width: 255px;
      font: 1.8rem $mavenBold;
      text-transform: uppercase;
    }
  }
  &__list {
    padding-right: 5rem;
    width: 50%;
    p {
      position: relative;
      margin-bottom: 4rem;
      font-size: 1.6rem;
      &:before {
        position: absolute;
        content: "";
        width: 5rem;
        height: 2px;
        left: 0;
        top: -7px;
        background-color: #8ae2e2;
      }
    }
  }
}
