// CALL TO JOIN
.call-to-join {
  padding: 2.5rem 2%;
  background-color: #eff7f7;
  text-align: center;
  font: 1.8rem $mainFontMedium;
  color: $darkBlue;
  a {
    color: $cyan;
    font-family: $mainFontBold;
    text-decoration: underline;
  }
}
