// HEADER
.header {
  position: relative;
  padding: 2rem 2% 12rem;
  background-image: url(img/header_bg.jpg);
  background-size: cover;
  color: white;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    content: "";
    background-color: rgba(23, 49, 83, 0.4);
  }
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  &__menu-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    img {
      width: 260px;
      height: 60px;
    }
    .menu-item a {
      display: block;
      margin-bottom: 1rem;
      border: 2px solid white;
      border-radius: 0.7rem;
      padding: 0.6rem 1.2rem;
      font-size: 1.6rem;
      font-family: $mavenBold, sans-serif;
    }
    .fa-question-circle {
      margin-right: 0.8rem;
    }
  }
  &__menu-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 25%;
    font-size: 1.6rem;
  }
}

.intro {
  position: relative;
  margin-top: 9rem;
  text-align: center;
  h1 {
    font: 900 8rem $mavenBlack;
    color: $cyan;
  }
  h2 {
    font: 900 5.8rem $mavenBlack;
  }
  h3 {
    margin-top: 2rem;
    font: 400 2.6rem $mavenRegular;
    b {
      font: 2.6rem $mavenBold;
      color: $cyan;
    }
  }
  a {
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: 4px;
    padding: 1.5rem 3rem;
    width: 230px;
    font: 1.8rem $mavenBold;
    text-transform: uppercase;
    background-color: $red;
  }
}
