// HOW IT WORKS
.how-it-works {
  display: flex;
  padding: 12rem 2% 12rem 4%;
  background-color: $cyan;
  color: white;
  &__summary {
    width: 50%;
    h2 {
      margin-top: 6rem;
      margin-bottom: 8rem;
      font: 8rem $mavenBlack;
    }
    a {
      border: 2px solid white;
      border-radius: 6px;
      padding: 1.7rem 3.5rem;
      width: 222px;
      font: 1.8rem $mavenBold;
      text-transform: uppercase;
    }
  }
  &__steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 26rem;
    padding-right: 20rem;
    .step {
      position: relative;
      width: 75%;
    }

    .step:nth-child(3) {
      margin-top: 4rem;
    }

    .step:nth-child(odd) {
      margin-bottom: 6rem;
      &:before {
        content: "";
        position: absolute;
        left: -80px;
      }
    }

    .step:nth-child(even) {
      align-self: flex-end;
      text-align: right;
      &:before {
        content: "";
        position: absolute;
        right: -80px;
      }
    }

    .step:first-child:before {
      width: 63px;
      height: 63px;
      background: url(img/css_sprites.png) -399px -10px;
    }

    .step:nth-child(2):before {
      width: 63px;
      height: 62px;
      background: url(img/css_sprites.png) -150px -10px;
    }

    .step:nth-child(3):before {
      width: 63px;
      height: 62px;
      background: url(img/css_sprites.png) -316px -10px;
    }

    .step:last-child:before {
      width: 63px;
      height: 62px;
      background: url(img/css_sprites.png) -233px -10px;
    }

    h3 {
      margin-bottom: 1rem;
      font: 2.2rem $mavenBold;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
}
