// SERVICE INFO
.service-info {
  padding: 8rem 2% 10rem;
  text-align: center;
  color: $darkBlue;
  h2 {
    font: 3.6rem $mainFontBlack;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    margin-top: 5rem;
  }
  .option {
    position: relative;
    padding: 0 1rem;
    padding-top: 10rem;
    height: 270px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%);
    }
  }

  .option:first-child:before {
    width: 117px;
    height: 120px;
    background: url(img/css_sprites.png) -609px -10px;
  }

  .option:nth-child(2):before {
    width: 163px;
    height: 109px;
    background: url(img/css_sprites.png) -888px -10px;
  }

  .option:nth-child(3):before {
    width: 107px;
    height: 122px;
    background: url(img/css_sprites.png) -482px -10px;
  }

  .option:last-child:before {
    width: 122px;
    height: 118px;
    background: url(img/css_sprites.png) -746px -10px;
  }

  h3 {
    margin-top: 3rem;
    font: 2.2rem $mainFontBold;
  }

  p {
    position: absolute;
    bottom: 0%;
    font-size: 1.6rem;
  }
}
