<section class="service-advantages">
  <div class="wrapper">
    <div class="advantages">
      <div class="advantages__summary">
        <h2>Nasze Mocne Strony</h2>
        <a href="#">ZNAJDŹ OPIEKUNKĘ</a>
      </div>
      <div class="advantages__list">
        <p>10,000 zarejestrowanych opiekunów czeka na bezpośredni
          kontakt z poszukującymi opieki</p>
        <p>Gwarantujemy bezpieczeństwo przelewów pieniężnych oraz
          zapłatę za pracę, kontrakt reguluje współpracę.</p>
        <p>Nie jesteśmy agencją. Nasza prowizja to jedynie 10% od ceny
          opieki pobierane od klienta. Dla opiekunek portal jest darmowy.</p>
        <p>Samemu określasz długość płatnego okresu próbnego i okresu
          wypowiedzenia</p>
        <p>Oferujemy usługi dodatkowe: ubezpieczenie i assistance 24h
          poprzez konsultantów w Help Center oraz rabaty na kursy
          językowe i szkolenia opiekunów</p>
        <p>Pewność kogo zatrudniasz: przeprowadzamy interview pod kątem
          jezyków obcych, sprawdzamy referencje i ukończone dyplomy.
          Dodatkowo po każdej pracy wystawiane są opinie, także
          wybierając opiekuna bazujesz na doświadczeniach innych z
          wybraną osobą.</p>
      </div>
    </div>
  </div>
</section>