<section class="service-description">
  <div class="wrapper">
    <div class="how-it-works">
      <div class="how-it-works__summary">
        <h2>Jak Działamy dla Poszukujących Opieki</h2>
        <a href="#">ZNAJDŹ OPIEKUNKĘ</a>
      </div>
      <div class="how-it-works__steps">
        <div class="step">
          <h3>Search a Caregiver</h3>
          <p>Ustalasz kryteria wyboru i
            wyszukujesz opiekuna z
            wymaganymi kwalifikacjami.</p>
        </div>
        <div class="step">
          <h3>Select a Caregiver</h3>
          <p>Decydujesz na podstawie
            weryfikacji profilu i opinii inyych
            osób o danej opiekunce.
            Nawiązujesz współpracę z
            wybraną osobą.</p>
        </div>
        <div class="step">
          <h3>Test Period</h3>
          <p>Opiekun rozpoczyna okres próbny
            i jeśli jesteście zadowoleni,
            zostaje na dłużej.</p>
        </div>
        <div class="step">
          <h3>Pay after Start</h3>
          <p>Opiekun dostaje wynagrodzenie dopiero po rozpoczęciu pracy. Po zakonczeniu współpracy
            wystawiasz
            opiekunowi opinię.</p>
        </div>
      </div>
    </div>
  </div>
</section>