// MEDIA QUERIES

@media (max-width: $bgDesktopWidth) {
  // INTRO
  .intro {
    padding: 28rem 2%;
  }
  // HOW IT WORKS
  .how-it-works {
    padding: 12rem 4% 12rem;
  }
  .how-it-works__summary h2 {
    font-size: 5.2rem;
  }
  .how-it-works__steps {
    max-width: 580px;
  }
}
