// MEDIA QUERIES

@media (max-width: $desktopWidth) {
  // HEADER
  .nav__menu-left {
    width: 60%;
  }

  .nav__menu-right {
    width: 23%;
  }

  // SERVICE INFO
  .service-info {
    padding: 6rem 3% 10rem;
    .options {
      grid-template-columns: repeat(2, 1fr);
      gap: 7rem 3rem;
    }
    .option {
      position: relative;
      padding: 0 6rem;
      padding-top: 10rem;
      // height: 270px;
      p {
        left: 50%;
        transform: translateX(-50%);
        width: 65%;
      }
    }
  }

  // PHOTO BLOCKS
  .photo-block {
    height: 500px;
  }

  // HOW IT WORKS
  .how-it-works {
    padding: 7rem 5%;
    &__summary {
      width: 40%;
      h2 {
        font-size: 5.2rem;
      }
    }
    &__steps {
      padding-left: 15rem;
      padding-right: 9rem;
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
        line-height: 1.3;
      }
    }
  }

  // FEEDBACK
  .feedback {
    padding: 6rem 5% 10rem;
    &__posts {
      grid-gap: 7rem 4rem;
      margin-top: 6rem;
    }
    .post__text {
      padding: 2rem 2rem;
      font-size: 1.4rem;
      line-height: 1.3;
    }
  }

  // ADVANTAGES
  .advantages {
    padding: 7rem 7%;
    &__summary {
      padding-left: 13rem;
      text-align: right;
      h2 {
        margin-top: 3rem;
        margin-bottom: 7rem;
      }
      a {
        margin-left: auto;
      }
    }
    &__list {
      padding-right: 0;
      width: 80%;
      p {
        font-size: 1.4rem;
      }
    }
  }

  // FOOTER
  .footer {
    padding: 5rem 5% 8rem;
    &__navigation {
      width: 60%;
      h3 {
        font-size: 1.6rem;
      }
      ul {
        margin-top: 2rem;
        font-size: 1.4rem;
      }
    }
    .social-buttons {
      h3 {
        font-size: 2rem;
      }
      li i {
        font-size: 2.5rem;
      }
    }
  }
}
