// TABLET WIDTH

@media (max-width: $laptopWidth) {
  // HEADER
  .header {
    h1 {
      font-size: 5.5rem;
    }

    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 2rem;
    }

    .nav__menu-left {
      width: 65%;
      .menu__item a {
        border-radius: 0.5rem;
        padding: 0.4rem 1.2rem;
      }
      a {
        font-size: 1.4rem;
      }
    }

    .brand img {
      width: 160px;
      height: auto;
    }

    .nav__menu-right {
      width: 29%;
    }
  }

  // SERVICE INFO
  .service-info {
    .option {
      height: 265px;
    }
  }

  // PHOTO BLOCKS
  .photo-block {
    height: 425px;
  }

  // HOW IT WORKS
  .how-it-works {
    flex-direction: column;
    align-items: center;
    &__summary {
      width: 100%;
      text-align: center;
      h2 {
        margin-top: 0;
        margin-bottom: 4rem;
        padding: 0 3rem;
        font-size: 4rem;
      }
      a {
        padding: 1.2rem 2.8rem;
        font-size: 1.6rem;
      }
    }
    &__steps {
      margin-top: 8rem;
      padding-left: 11rem;
      padding-right: 11rem;
      width: auto;
      .step {
        img {
          width: 45%;
        }
        .arrow_right {
          left: 100%;
        }

        .arrow_left {
          right: 100%;
        }
      }

      .step:nth-child(odd) {
        margin-bottom: 4rem;
      }
      h3 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.4rem;
        line-height: 1.3;
      }
    }
  }

  // FEEDBACK
  .feedback {
    grid-template-columns: repeat(2, 1fr);
  }

  // ADVANTAGES
  .advantages {
    padding: 7rem 7% 4rem;
    &__summary {
      padding-left: 0;
      a {
        padding: 1.2rem 2.8rem;
        width: 219px;
        font-size: 1.6rem;
      }
    }
  }

  // CALL TO ACTION
  .call-to-action {
    h2 {
      font-size: 3.2rem;
    }
    a {
      margin-top: 2.5rem;
      font-size: 1.6rem;
      padding: 1rem 2rem;
      width: 216px;
    }
  }
}
