// TABLET WIDTH

@media (max-width: $laptopWidth) {
  // HEADER
  .header {
    h1 {
      font-size: 5.5rem;
    }

    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 2rem;
    }

    .intro a {
      padding: 1.2rem 2.2rem;
      width: 220px;
      font-size: 1.6rem;
    }

    .nav__menu-left {
      width: 60%;

      a {
        padding: 0.6rem 1.2rem;
        font-size: 1.4rem;
      }
    }

    .brand img {
      width: 220px;
      height: auto;
    }

    .nav__menu-right {
      width: 23%;
    }
  }

  // SERVICE INFO
  .service-info {
    .option {
      height: 265px;
    }
  }

  // PHOTO BLOCKS
  .photo-block {
    height: 425px;
  }

  // HOW IT WORKS
  .how-it-works {
    &__summary {
      h2 {
        font-size: 4rem;
      }
      a {
        padding: 1.2rem 2.8rem;
        font-size: 1.6rem;
      }
    }
    &__steps {
      padding-left: 12rem;
      padding-right: 8rem;
      width: auto;
      .step:nth-child(odd) {
        margin-bottom: 4rem;
      }
      h3 {
        font-size: 1.8rem;
      }
      p {
        font-size: 1.4rem;
        line-height: 1.3;
      }
    }
  }

  // FEEDBACK
  .feedback {
    grid-template-columns: repeat(2, 1fr);
  }

  // ADVANTAGES
  .advantages {
    padding: 7rem 7% 4rem;
    &__summary {
      padding-left: 0;
      a {
        padding: 1.2rem 2.8rem;
        width: 219px;
        font-size: 1.6rem;
      }
    }
  }

  // CALL TO ACTION
  .call-to-action {
    h2 {
      font-size: 3.2rem;
    }
    a {
      margin-top: 2.5rem;
      font-size: 1.6rem;
      padding: 1rem 2rem;
      width: 216px;
    }
  }
}
