// HEADER
.header {
  position: relative;
  padding: 2rem 2% 17%;
  background-image: url(img/header_bg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(23, 49, 83, 0.4);
  }
}
.menu-hidden {
  display: none;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;

  &__menu-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    .brand img {
      width: 260px;
      height: auto;
    }
    .menu {
      display: flex;
      justify-content: space-between;
    }
    .menu__item a {
      border: 2px solid white;
      border-radius: 0.7rem;
      padding: 0.8rem 1.5rem;
      font-size: 1.6rem;
      font-family: $mainFontBold, sans-serif;
    }
    li:nth-child(2) {
      margin-left: 2.5rem;
    }

    .fa-question-circle {
      margin-right: 0.8rem;
    }
  }
  &__menu-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 19%;
    font-size: 1.6rem;
    .hamburger {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    .fa-bars {
      font-size: 2.5rem;
      margin-right: 8px;
    }
  }
}

.nav.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  box-shadow: 0 0px 5px black;
  background-color: white;
  color: black;
  transition: all 0.25s ease-in-out;
  .nav__menu-right {
    margin-bottom: 0;
  }
  .menu__item a {
    border: 2px solid black;
  }
}

.intro {
  position: relative;
  margin-top: 33%;
  text-align: center;
  h1 {
    font: 900 8rem $mainFontBlack;
    color: $cyan;
  }
  h2 {
    font: 900 5.8rem $mainFontBlack;
  }
  h3 {
    margin-top: 3rem;
    font: 400 2.6rem $mainFontRegular;
    b {
      font: 2.6rem $mainFontBold;
      color: $cyan;
    }
  }
  a {
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 4px;
    padding: 1.5rem 3rem;
    width: 255px;
    font: 1.8rem $mainFontBold;
    text-transform: uppercase;
    background-color: $red;
    &:hover {
      background-color: #fa1a1a;
    }
  }
}
