// HEADER
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  color: white;
  transition: all 0.3s ease-in-out;
}
.header.sticky {
  box-shadow: 0 0px 5px black;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  .menu__item a {
    border: 2px solid black;
  }
  .brand img {
    filter: drop-shadow(1px 0 3px $blue);
  }
}
.menu-hidden {
  display: none;
}

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1rem 4rem;
  &__menu-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    .brand img {
      width: 220px;
      height: auto;
    }
    .menu {
      display: flex;
      justify-content: space-between;
    }
    .menu__item a {
      border: 2px solid white;
      border-radius: 0.7rem;
      padding: 0.8rem 1.5rem;
      font: 1.6rem $mainFontBold, sans-serif;
    }
    li:nth-child(2) {
      margin-left: 2.5rem;
    }

    .fa-question-circle {
      margin-right: 0.8rem;
    }
  }
  &__menu-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 19%;
    font-size: 1.6rem;
    .hamburger {
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    .fa-bars {
      font-size: 2.5rem;
      margin-right: 8px;
    }
  }
}
