<section class="feedback">
  <div class="wrapper">
    <h2>What do our Clients Say?</h2>
    <div class="feedback__posts">
      <div class="post">
        <blockquote class="post__text">Moja mama zachorowała jakiś czas temu i nie jest
          już zupełnie samodzielna. Sama przestałam dawac
          radę zajmować się własnym domem ..
        </blockquote>
        <div class="author">
          <span class="author__name">Aneta, 39l</span><br>
          <span class="author__job">Service provider</span>
        </div>
      </div>
      <div class="post">
        <blockquote class="post__text">Jestem zadowolona z korzystania z portalu. Nic
          mnie to nie kosztuje, a mam dostęp do ogłoszeń o
          pracy z Polski i zagraicy. Byłam już w pracy ..</blockquote>
        <div class="author">
          <span class="author__name">Katarzyna, 51 lat</span><br>
          <span class="author__job">Client</span>
        </div>
      </div>
      <div class="post">
        <blockquote class="post__text">Moja mama zachorowała jakiś czas temu i nie jest
          już zupełnie samodzielna. Sama przestałam dawac
          radę zajmować się własnym domem ..
        </blockquote>
        <div class="author">
          <span class="author__name">Aneta, 39l</span><br>
          <span class="author__job">Service provider</span>
        </div>
      </div>
      <div class="post">
        <blockquote class="post__text">Moja mama zachorowała jakiś czas temu i nie jest
          już zupełnie samodzielna. Sama przestałam dawac
          radę zajmować się własnym domem ..
        </blockquote>
        <div class="author">
          <span class="author__name">Aneta, 39l</span><br>
          <span class="author__job">Service provider</span>
        </div>
      </div>
      <div class="post">
        <blockquote class="post__text">Jestem zadowolona z korzystania z portalu. Nic
          mnie to nie kosztuje, a mam dostęp do ogłoszeń o
          pracy z Polski i zagraicy. Byłam już w pracy ..</blockquote>
        <div class="author">
          <span class="author__name">Katarzyna, 51 lat</span><br>
          <span class="author__job">Client</span>
        </div>
      </div>
      <div class="post">
        <blockquote class="post__text">Moja mama zachorowała jakiś czas temu i nie jest
          już zupełnie samodzielna. Sama przestałam dawac
          radę zajmować się własnym domem ..
        </blockquote>
        <div class="author">
          <span class="author__name">Aneta, 39l</span><br>
          <span class="author__job">Service provider</span>
        </div>
      </div>
    </div>
  </div>
</section>