// FOOTER
.footer {
  background-color: $darkBlue;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  padding: 9rem;
  color: white;
}

.credentials {
  .social-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    h3 {
      font: 2.2rem $mainFontBold;
    }
    li {
      display: inline-block;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        opacity: 1;
      }
      i {
        font-size: 3rem;
        opacity: 0.5;
      }
    }
  }

  .copyright {
    margin-top: 1rem;
    font-size: 1.4rem;
    opacity: 0.5;
  }
}

.footer-nav__navigation {
  display: flex;
  justify-content: space-between;
  width: 50%;
  h3 {
    margin-top: 1rem;
    font: 2.2rem $mainFontBold;
  }
  ul {
    margin-top: 3rem;
    font-size: 1.6rem;
    opacity: 0.8;
    li {
      margin-bottom: 1.5rem;
    }
  }
}
