<footer class="footer">
  <div class="wrapper">
    <div class="footer-nav">
      <div class="credentials">
        <a href="#"><img src="./img/logo.png" alt="logo" width="220" height="55"></a>
        <div class="social-buttons">
          <h3>Follow Us</h3>
          <ul>
            <li>
              <a href="https://facebook.com" target="_blank" rel="noreferrer"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href="https://twitter.com" target="_blank" rel="noreferrer"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
              <a href="https://linkedin.com" target="_blank" rel="noreferrer"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
        <div class="copyright">
          &copy; 2018 Geriana. All rights reserved.
        </div>
      </div>
      <div class="footer-nav__navigation">
        <div class="navigation__block">
          <h3>O portalu</h3>
          <ul>
            <li><a href="#">Kim jesteśmy</a></li>
            <li><a href="#">O nas w mediach</a></li>
            <li><a href="#">Zasady i regulaminy</a></li>
          </ul>
        </div>
        <div class="navigation__block">
          <h3>Współpraca</h3>
          <ul>
            <li><a href="#">Zostań naszym partnerem</a></li>
            <li><a href="#">Praca</a></li>
          </ul>
        </div>
        <div class="navigation__block">
          <h3>Centrum Pomocy</h3>
          <ul>
            <li><a href="#">Opiekunowie</a></li>
            <li><a href="#">Poszukujący opieki</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>