// PHOTO BLOCK
.photo-block {
  position: relative;
  height: 500px;
  background-image: url(img/banner_1.png);
  background-repeat: no-repeat;
  &--2 {
    @extend .photo-block;
    background-image: url(img/banner_2.jpg);
  }
  &--3 {
    @extend .photo-block;
    background-image: url(img/banner_3.jpg);
  }
}
