*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: auto;
  font-family: $mavenRegular, Arial, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
  &:hover {
    opacity: 0.5;
  }
}

button {
  outline: transparent;
  cursor: pointer;
}

input {
  outline: transparent;
}
