@import "../components/header/header";
@import "../components/call_to_join/call_to_join";
@import "../components/service_info/service_info";
@import "../components/photo_block/photo_block";
@import "../components/how_it_works/how_it_works";
@import "../components/feedback/feedback";
@import "../components/advantages/advantages";
@import "../components/call_to_action/call_to_action";
@import "../components/footer/footer";
