// FONTS

@font-face {
  font-family: MavenPro-Regular;
  src: url(fonts/MavenPro-Regular.ttf);
}

@font-face {
  font-family: MavenPro-Medium;
  src: url(fonts/MavenPro-Medium.ttf);
}

@font-face {
  font-family: MavenPro-Bold;
  src: url(fonts/MavenPro-Bold.ttf);
}

@font-face {
  font-family: MavenPro-Black;
  src: url(fonts/MavenPro-Black.ttf);
}

$mavenRegular: MavenPro-Regular;
$mavenMedium: MavenPro-Medium;
$mavenBold: MavenPro-Bold;
$mavenBlack: MavenPro-Black;

// COLORS
$darkBlue: #0b2a37;
$blue: #005173;
$cyan: #66cfcf;
$red: #ff5151;

// VIEWPORTS
$bgDesktopWidth: 1440px;
$desktopWidth: 1280px;
$laptopWidth: 1024px;
$tabletWidth: 768px;
$smTabletWidth: 640px;
$phoneWidth: 480px;
$mdPhoneWidth: 375px;
